#jinja2: lstrip_blocks: True
---
{% for node in nodes %}
  {{ node }}:
    uuid: "00000000-0000-0000-0000-000000000001"
    driver_info:
      power:
        ssh_port: 22
        ssh_username: "root"
        ssh_virt_type: "virsh"
        ssh_address: "10.20.1.1"
        ssh_key_filename: "/root/.ssh/id_rsa"
    nics:
      - mac: "{{ nodes[node].mac }}"
    driver: "agent_ssh"
    ipv4_address: "{{ nodes[node].ipv4_address }}"
    properties:
      cpu_arch: "{{ nodes[node].cpu_arch }}"
      ram: "{{ nodes[node].ram }}"
      disk_size: "{{ nodes[node].disk_size }}"
      cpus: "{{ nodes[node].cpus }}"
    {% if nodes[node].host_groups is defined %}
    host_groups:
      {% for host_group in nodes[node].host_groups %}
      - "{{ host_group }}"
      {% endfor %}
    {% endif %}
    name: "{{ node }}"
{% endfor %}
